.videos-module-title{
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
}

.no-content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.video-image {
    background: url(./pictures/videocam-dark.jpg);   
}

.video-card{
    margin-top: 1rem;
    margin-left: 2rem;
    max-width: 150px;
}

.video-card .card-body {
    padding: 0%;
}

.video-uploading-modal-card {
    display: flex;
  align-items: center
    
}

.video-uploading-text{
    padding: 5rem;
    padding: 5rem 16rem;
}

.add-videos-button{
    margin-left: auto;
    margin-right: auto;
}

