.videos-module-title{
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
}

.no-content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.video-image {
    background: url(./pictures/videocam-dark.jpg);   
}

.video-card{
    margin-top: 1rem;
    margin-left: 2rem;
}

.video-card .card-body {
    padding: 0%;
}
