.videoset{
    margin-top: 1.5rem;
    padding-bottom: 5rem;
}

.videoset-title {
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.video-modal .modal-title {
    font-size: xx-large;
    margin-left: .5rem;
}



