.header {
    margin-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: .3rem;
    font-size: xxx-large;
}

.user-card{
    text-align: right;
    margin-left: auto;
    margin-top: 1rem;
    border-radius:1rem;
}

.header-button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.header-button-group{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.user-card .welcome-title {
    padding: 10%;
}

.login-link{
    margin-left: auto;
    padding-right: 1rem;
    padding-top: 1rem;
}

.header h1{
    font-size: 80px;
}

.header h4 {
    margin-left: auto;
    font-size: 25px;
    padding-top: 1.75rem;
    
}

.header a:hover {
    text-decoration: none;
}

.web-storage-title{
    font-size: 100px;
}