.categories-title {
    text-align:center;
    padding-bottom: 2rem;
    font-size: 40px;
}
.subcategories-list {
    padding-top: .5rem;
}
.videoset-views {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.row-item{
    margin-bottom: auto;
}

.term{
    padding-right: 0.5rem;
    font-size: 20px;
}


.videosets-container {
    padding-top: .5rem;
}

.videoset-card {
    margin-left: .5rem;
    margin-right: .5rem;
    border-radius:.5rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.all-categories-title{
    padding-bottom: .5rem;
}

.videoset-preview-title{
    margin-top: .25rem;
    margin-left: .5rem;
}


.videoset-card:hover {
    /* border-radius:20rem; */
    background-color: #00bc8c;
}

.videoset-card .card-header {
    border-radius:.5rem
}

.no-content-message {
    padding-bottom: 1rem;
}

.add-button {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.category-details-buttons{
    display: flex;
}

.videoset-preview-subcategory-title{
    margin-left: auto;
    margin-right: .5rem;
    margin-top: .25rem;
}

.logo {
    width: 75px;
    height: 75px;
    margin-left: 1rem;
    margin-right: 2rem;
}

.videoset-card-description {
    margin-top: .5rem;
    margin-left: 1rem;
    padding-bottom: .5rem;
}

.add-videoset-button{
    margin-left: auto;
    margin-right: 1.5rem;
}
