.item-list {
  margin-bottom: 1rem;
}

.item-list .list-group-item {
  cursor: pointer;
  font-size: large;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.show-more-button {
  margin-left: auto;
  margin-right: auto;
}